@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700&subset=latin-ext");
input textarea {
  max-width: 100%; }

.head-top-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header-main-logo {
  float: left;
  background-repeat: no-repeat;
  height: 117px;
  position: absolute;
  top: -3px;
  -webkit-background-size: contain;
          background-size: contain;
  max-width: 100%;
  padding-left: 20px; }

.head-top-menu-nav {
  display: inline;
  float: right; }

.head-top-menu-nav nav {
  padding-left: 98px; }

.head-top-menu-nav nav a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 18px;
  text-transform: uppercase;
  list-style: none;
  padding-right: 18px;
  padding-left: 18px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  line-height: 67px; }

.head-top-menu-nav nav a:hover:before {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ff0036;
  top: 0;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  content: ''; }

.head-top-menu-nav nav a:hover:after {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ff0036;
  bottom: 0;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  content: ''; }

.head-info {
  padding-top: 67px; }

.head-info-title {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center; }

.red-text {
  color: #ff0036; }

.head-info-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 1028px;
  padding-top: 55px; }

.head-button {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 75px;
  text-align: center; }

.black-button {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #131313;
  width: 170px;
  height: 50px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-style: Medium;
  line-height: 50px;
  border: none;
  margin: 0 15px; }
  .black-button:hover {
    background-color: #ff0036;
    /*Hamburger*/ }

.main-menu-mobile {
  display: none;
  cursor: pointer;
  position: relative; }

.main-menu-mobile.active {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 50px;
  padding-left: 28px; }

.main-menu-mobile i {
  width: 20px;
  height: 3px;
  display: block;
  background-color: white;
  position: absolute;
  left: 0;
  top: 10px; }

.main-menu-mobile i:after {
  top: 7px; }

.main-menu-mobile i:before {
  top: -7px; }

.main-menu-mobile i:after {
  content: '';
  width: 20px;
  height: 3px;
  display: block;
  background-color: white;
  position: absolute;
  left: 0; }

.main-menu-mobile i:before {
  content: '';
  width: 20px;
  height: 3px;
  display: block;
  background-color: white;
  position: absolute;
  left: 0; }

.main-menu-mobile span {
  font-size: 20px;
  color: white;
  padding: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

#mask2 {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; }

.head-top-menu-nav.active {
  opacity: 0.85;
  display: block;
  right: 0px; }

@media screen and (max-width: 1140px) {
  .head-info-text {
    max-width: 940px; }
  .main-menu-mobile {
    display: inline-block;
    float: right;
    margin-top: 15px; }
  .head-top-menu-nav {
    position: fixed;
    right: 0;
    top: 65px;
    width: 250px;
    z-index: 1000;
    height: 100%;
    overflow: scroll;
    background-color: black;
    right: -250px; }
  .main-menu-mobile.active {
    top: 36px;
    left: 0; }
  .head-top-menu-nav nav {
    display: block;
    line-height: 50px;
    padding-top: 20px; } }

@media screen and (max-width: 992px) {
  .header-main-logo a img {
    max-width: 70%; }
  .head-info-text {
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
    max-width: 792px; }
  .head-info-title {
    font-size: 26px; }
  .head-button {
    padding-top: 70px; }
  .black-button {
    font-size: 14px;
    width: 150px;
    height: 46px;
    margin: 0 7px;
    line-height: 46px; }
  .main-menu-mobile span {
    font-size: 18px;
    padding: 28px; }
  .main-menu-mobile i {
    width: 18px; }
  .main-menu-mobile i:after {
    width: 18px; }
  .main-menu-mobile i:before {
    width: 18px; }
  .main-menu-mobile span {
    font-size: 18px;
    padding: 28px; }
  .main-menu-mobile.active {
    top: 36px;
    left: 0; }
  .head-top-menu-nav {
    top: 55px;
    width: 215px; }
  .head-top-menu-nav nav {
    padding-top: 5px;
    line-height: 40px; }
  .head-top-menu-nav nav a {
    font-size: 16px;
    padding-right: 12px;
    padding-left: 0px; }
  .head-top-menu-nav nav a:hover:before {
    margin-top: -10px; }
  .head-top-menu-nav nav a:hover:after {
    margin-bottom: -10px; } }

@media screen and (max-width: 768px) {
  .header-main-logo a img {
    max-width: 60%; }
  .head-info-text {
    padding-top: 15px;
    font-size: 11px;
    line-height: 16px;
    max-width: 548px; }
  .head-info-title {
    font-size: 24px; }
  .head-button {
    padding-top: 60px; }
  .black-button {
    font-size: 12px;
    width: 130px;
    height: 40px;
    margin: 0 5px;
    line-height: 40px; }
  .main-menu-mobile span {
    font-size: 16px;
    padding: 24px; }
  .main-menu-mobile i {
    width: 16px;
    height: 2px; }
  .main-menu-mobile i:after {
    width: 16px;
    height: 2px; }
  .main-menu-mobile i:before {
    width: 16px;
    height: 2px; }
  .main-menu-mobile span {
    font-size: 18px;
    padding: 28px; }
  .main-menu-mobile {
    margin-top: 13px; }
  .head-top-menu-nav {
    top: 45px;
    width: 190px;
    height: 100%; }
  .head-top-menu-nav nav {
    padding-top: 5px;
    line-height: 40px;
    padding-left: 53px; }
  .head-top-menu-nav nav a {
    font-size: 16px;
    padding-right: 18px;
    padding-left: 14px; }
  .main-menu-mobile i:after {
    top: 6px; }
  .main-menu-mobile i:before {
    top: -6px; }
  .main-menu-mobile.active {
    top: 36px;
    left: 0px; }
  .head-top-menu-nav nav a:hover:before {
    width: 25px;
    height: 2px;
    top: 0;
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    margin-top: -10px; }
  .head-top-menu-nav nav a:hover:after {
    width: 25px;
    height: 2px;
    bottom: 0;
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    content: '';
    margin-bottom: -10px; } }

@media screen and (max-width: 480px) {
  .header-main-logo a img {
    max-width: 50%; }
  .head-info-text {
    padding-top: 15px;
    font-size: 8px;
    line-height: 13px;
    max-width: 280px; }
  .head-info-title {
    font-size: 22px; }
  .head-button {
    padding-top: 50px; }
  .black-button {
    font-size: 10px;
    width: 110px;
    height: 32px;
    margin: 0 4px;
    line-height: 32px; }
  .main-menu-mobile i {
    width: 16px;
    height: 2px; }
  .main-menu-mobile i:after {
    width: 16px;
    height: 2px; }
  .main-menu-mobile i:before {
    width: 16px;
    height: 2px; }
  .main-menu-mobile span {
    font-size: 0px;
    padding: 20px; }
  .main-menu-mobile {
    margin-top: 8px; }
  .main-menu-mobile.active {
    top: 28px;
    left: 0px; }
  .head-top-menu-nav {
    top: 34px;
    width: 150px; }
  .head-top-menu-nav nav {
    padding-top: 5px;
    line-height: 30px;
    padding-left: 30px; }
  .head-top-menu-nav nav a {
    font-size: 14px;
    padding-right: 18px; }
  .head-top-menu-nav nav a:hover:before {
    width: 25px;
    height: 2px;
    top: 0;
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    margin-top: -7px; }
  .head-top-menu-nav nav a:hover:after {
    width: 25px;
    height: 2px;
    bottom: 0;
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    content: '';
    margin-bottom: -7px; } }

@media screen and (max-width: 320px) {
  .header-main-logo a img {
    max-width: 40%; }
  .head-info {
    padding-top: 0; }
  .head-info-text {
    padding-top: 15px;
    font-size: 8px;
    line-height: 10px;
    max-width: 120px; }
  .head-info-title {
    font-size: 20px; }
  .head-button {
    padding-top: 50px; }
  .black-button {
    font-size: 10px;
    width: 110px;
    height: 32px;
    margin: 0 3px;
    line-height: 32px; }
  .main-menu-mobile {
    margin-top: 5px; }
  .main-menu-mobile.active {
    top: 28px; } }

.about {
  padding-bottom: 100px; }

.about-title {
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px; }

.about-title-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #505050; }

.about-info {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px; }

.about-info-left {
  float: left;
  width: 50%;
  padding-left: 20px; }

.about-info-left-text {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  color: #505050; }

#accordion {
  padding-top: 45px; }

p {
  font-size: 20px;
  border: 1px solid #e7e7e7;
  padding-left: 30px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #262626;
  font-family: 'Raleway', sans-serif; }

.clear:after {
  content: '';
  display: table;
  clear: both; }

.p-icon {
  float: left;
  width: 60px;
  background-color: #f7f7f7;
  height: 45px;
  border: 1px solid #e7e7e7;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center; }

.p-text {
  display: none;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  width: 100%;
  color: #505050;
  text-align: center;
  padding-bottom: 10px; }

.p-minus {
  float: right;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  font-weight: bold;
  background-color: #f7f7f7;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  display: inline-block;
  cursor: pointer; }

.icon-plus {
  border: 1px solid #7f7f7f;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer; }

.icon-plus-img {
  width: 10px;
  background-color: #505050;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px); }

.icon-plus-img:after {
  background-color: #505050;
  width: 10px;
  height: 2px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  content: '';
  position: absolute;
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
    left-top: -webkit-calc(50% - 1px);
    left-top: calc(50% - 1px); }

.p-icon.active .icon-plus {
  color: #ff0036;
  border: 1px solid #ff0036; }

.p-icon.active .icon-plus-img {
  background-color: #ff0036; }

.p-icon.active .icon-plus-img:after {
  background-color: #ff0036;
  display: none; }

.clear.active .p-minus {
  color: #ff0036; }

.about-right {
  float: right;
  width: 50%;
  padding: 0 20px; }

.about-right-img img {
  max-width: 100%; }

.about-scroll {
  padding-top: 100px;
  text-align: center; }

.about-scroll img {
  max-width: 40%; }

.about-icons {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px; }

.about-icons1 {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.about-icons1-img {
  background-image: url(../img/about-icon-1.png);
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 100px; }
  .about-icons1-img:hover {
    background-image: url(../img/about-icon-1hover.png); }

.about-icons1-title {
  padding-top: 35px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding-left: none; }

.about-icons1-text {
  padding-top: 30px;
  font-size: 16px;
  font-family: Lato, sans-serif;
  line-height: 22px;
  color: #505050;
  border: none;
  text-align: center;
  padding-left: none; }

.about-icons2-img {
  background-image: url(../img/about-icon-2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 80px; }
  .about-icons2-img:hover {
    background-image: url(../img/about-icon-2hover.png); }

.about-icons3-img {
  background-image: url(../img/about-icon-3.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 80px; }
  .about-icons3-img:hover {
    background-image: url(../img/about-icon-3hover.png); }

.about-icons4-img {
  background-image: url(../img/about-icon-4.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 80px; }
  .about-icons4-img:hover {
    background-image: url(../img/about-icon-4hover.png); }

@media screen and (max-width: 1140px) {
  .about-icons1-text {
    font-size: 15px;
    padding-top: 28px; }
  .about-icons {
    padding-left: 30px;
    padding-right: 30px; } }

@media screen and (max-width: 992px) {
  .about-title {
    padding-top: 80px;
    font-size: 26px; }
  .about-title-text {
    padding-top: 45px;
    font-size: 15px; }
  .about-info-left-text {
    font-size: 15px; }
  p {
    font-size: 19px; }
  .about-icons1-text {
    font-size: 14px; }
  .about-icons1-title {
    font-size: 19px; } }

@media screen and (max-width: 768px) {
  .about-title {
    padding-top: 70px;
    font-size: 26px; }
  .about-title-text {
    padding-top: 45px;
    font-size: 12px;
    line-height: 18px; }
  .about-info {
    padding-top: 70px;
    padding-right: 20px; }
  .about-info-left {
    float: left;
    width: 100%;
    padding-left: 20px; }
  .about-right {
    width: 100%;
    text-align: center;
    padding: 30px 20px; }
  .about-info-left-text {
    font-size: 14px; }
  .about-scroll {
    padding-top: 50px; }
  .about-scroll img {
    max-width: 60%; }
  .about-icons {
    padding-top: 100px; }
  .about-icons1 {
    width: 50%;
    padding-bottom: 20px; }
  .about-icons1-text {
    font-size: 11px;
    padding-right: 5px; }
  .about-icons1-title {
    font-size: 17px; }
  p {
    font-size: 17px; }
  .about-info-left-text {
    font-size: 13px; }
  #accordion {
    padding-top: 25px; }
  p {
    padding-top: 6px; }
  .p-icon {
    height: 35px; }
  .p-minus {
    height: 35px; }
  .icon-plus {
    margin-top: 6px; } }

@media screen and (max-width: 480px) {
  .about-title {
    font-size: 20px;
    padding-top: 50px; }
  .about-title-text {
    padding-top: 35px; }
  .about-info {
    padding-top: 50px; }
  .about-info-left {
    width: 100%; }
  .p-minus {
    height: 30px; }
  .p-icon {
    height: 30px; }
  p {
    padding-top: 5px;
    font-size: 15px;
    padding-left: 20px; }
  .icon-plus {
    width: 16px;
    height: 16px;
    margin-top: 6px; }
  .icon-plus-img {
    width: 8px;
    left: -webkit-calc(50% - 4px);
    left: calc(50% - 4px);
    top: -webkit-calc(50% - 0.5px);
    top: calc(50% - 0.5px); }
  .icon-plus-img:after {
    width: 8px;
    left: -webkit-calc(50% - 4px);
    left: calc(50% - 4px);
      left-top: -webkit-calc(50% - 1px);
      left-top: calc(50% - 1px); }
  .accordion-part {
    padding-right: 20px; }
  .about-info-left-text {
    padding-right: 20px; }
  .about-right {
    width: 100%;
    padding-top: 50px; }
  .about-icons1-img, .about-icons2-img, .about-icons3-img, .about-icons4-img {
    -webkit-background-size: 40% 40%;
            background-size: 40%; }
  .about-icons1 {
    padding-bottom: 20px; }
  .about-icons1-text {
    padding-top: 20px; }
  .about-icons1-title {
    padding-top: 24px; }
  .p-text {
    font-size: 12px;
    text-align: justify; } }

@media screen and (max-width: 320px) {
  .about-title-text {
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 20px; }
  .about-info-left-text {
    padding-right: 10px; }
  p {
    font-size: 13px;
    padding-top: 7px;
    padding-left: 40px; }
  .about-icons1 {
    width: 100%; }
  .about-icons1-img, .about-icons2-img, .about-icons3-img, .about-icons4-img {
    -webkit-background-size: 35% 35%;
            background-size: 35%; }
  .about-icons1-title {
    padding-top: 20px; }
  .about-icons1-title {
    font-size: 15px; }
  .about-icons {
    padding-top: 70px; }
  .about-icons1-text {
    text-align: center; }
  .icon-plus {
    width: 14px;
    height: 14px;
    margin-top: 6px; }
  .icon-plus-img {
    width: 6px;
    left: -webkit-calc(50% - 3px);
    left: calc(50% - 3px);
    top: -webkit-calc(50% - 0.5px);
    top: calc(50% - 0.5px); }
  .icon-plus-img:after {
    width: 6px;
    left: -webkit-calc(50% - 3px);
    left: calc(50% - 3px);
      left-top: -webkit-calc(50% - 1px);
      left-top: calc(50% - 1px); } }

.portfolio {
  background-color: #262626; }

.portfolio-title {
  padding-top: 105px;
  color: #ffffff;
  text-align: center;
  font-size: 30px; }

.portfolio-menu {
  padding-top: 35px;
  text-align: center; }

.portfolio-menu nav {
  display: inline; }

.portfolio-menu nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a4a4a4;
  font-size: 16px;
  padding-left: 20px; }

.portfolio-menu nav a:hover {
  color: #ff0036; }

.portfolio-category {
  padding-top: 100px;
  padding-bottom: 100px; }

.portfolio-category-img:after {
  content: '';
  display: table;
  clear: both; }

.portfolio-category-img1 img {
  width: 100%; }

.portfolio-category-img1 {
  position: relative;
  float: left;
  width: 28.571%; }

.portfolio-category-img2 {
  position: relative;
  float: left;
  width: 21.429%; }

.portfolio-category-img2 img {
  width: 100%; }

.portf-img-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center; }

.portf-img-hover:hover {
  opacity: 1; }

.portf-hover {
  position: relative; }

.portf-img-hover-info img {
  width: 23px;
  padding-bottom: 35px; }

.portf-hover-title {
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

.portf-img-hover-info {
  top: -webkit-calc(50% - 35px);
  top: calc(50% - 35px);
  position: relative;
  display: inline-block; }

.portf-scroll {
  text-align: center;
  position: relative;
  bottom: -13px; }

@media screen and (max-width: 992px) {
  .portfolio-title {
    padding-top: 80px;
    font-size: 26px; }
  .portfolio-category {
    padding-top: 80px;
    padding-bottom: 80px; }
  .portf-scroll img {
    max-width: 60%; } }

@media screen and (max-width: 768px) {
  .portfolio-title {
    padding-top: 50px;
    font-size: 26px; }
  .portfolio-category {
    padding-top: 70px;
    padding-bottom: 70px; }
  .portfolio-menu nav a {
    font-size: 14px; }
  .portfolio-category-img1 {
    width: 57.143%; }
  .portfolio-category-img2 {
    width: 42.857%; }
  .portf-img-hover {
    font-size: 14px; }
  .portf-img-hover-info img {
    width: 18px;
    padding-bottom: 25px; }
  .portf-hover-title {
    font-size: 14px; }
  .portf-scroll {
    bottom: -12px; }
  .portf-scroll img {
    max-width: 55%; } }

@media screen and (max-width: 480px) {
  .portf-scroll {
    bottom: -8px; } }

.product-title {
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px; }

.product-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #505050;
  padding-bottom: 80px; }

.product-content {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 100px; }

.product-content-left {
  float: left;
  width: 33.33%;
  padding-top: 95px; }

.product-content-middle {
  float: left;
  width: 33.33%;
  text-align: center; }

.product-content-middle img {
  width: 100%;
  display: inline-block; }

.prod-black-button {
  position: absolute;
  text-align: center; }

.prod-black-button a {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #131313;
  width: 170px;
  height: 50px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-style: Medium;
  line-height: 50px;
  border: none;
  margin: -108px 108px; }
  .prod-black-button a:hover {
    background-color: #ff0036; }

.product-content-right {
  float: left;
  width: 33.33%;
  padding-top: 95px; }

.prod-left1 {
  overflow: hidden;
  border: 1px solid #e7e7e7;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px; }
  .prod-left1:hover {
    background-color: #ff0036;
    color: #fff; }

.prod-menu-left1 {
  font-size: 20px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  text-transform: uppercase;
  background-image: url(../img/prod-icon.png);
  background-repeat: no-repeat;
  background-position-y: 6px;
  background-position-x: right;
  padding-right: 60px;
  padding-left: 29px;
  min-height: 20px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  margin-right: 20px; }
  .prod-menu-left1:hover {
    background-image: url(../img/prod-icon-hover.png);
    color: #fff; }

@media screen and (max-width: 992px) {
  .product-title {
    padding-top: 80px;
    font-size: 26px; }
  .product-text {
    padding-top: 45px;
    font-size: 15px;
    padding-bottom: 60px; }
  .prod-menu-left1 {
    font-size: 18px;
    background-position-x: right; }
  .prod-black-button a {
    margin: -108px 87px;
    font-size: 14px;
    width: 150px;
    height: 46px;
    line-height: 46px; } }

@media screen and (max-width: 870px) {
  .prod-black-button a {
    margin: -85px 65px;
    font-size: 14px;
    width: 130px;
    height: 40px;
    line-height: 40px; }
  .prod-menu-left1 {
    font-size: 13px; } }

@media screen and (max-width: 768px) {
  .product-title {
    padding-top: 50px;
    font-size: 20px; }
  .product-text {
    padding-top: 45px;
    font-size: 12px;
    padding-bottom: 60px; }
  .prod-menu-left1 {
    font-size: 13px;
    height: 40px; }
  .prod-menu-left1 {
    -webkit-background-size: 11% 11%;
            background-size: 11%; }
  .prod-black-button a {
    margin: -83px 65px;
    font-size: 14px;
    width: 130px;
    height: 40px;
    line-height: 40px; } }

@media screen and (max-width: 750px) {
  .product-text {
    margin-right: 20px;
    margin-left: 20px; }
  .product-content-left {
    float: left;
    width: 100%;
    padding-top: 0px; }
  .prod-left1 {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px; }
  .product-content-middle {
    float: left;
    width: 100%; }
  .product-content-right {
    float: left;
    width: 100%;
    padding-top: 50px; }
  .prod-black-button {
    text-align: center; }
  .prod-black-button a {
    margin: -120px 300px;
    display: inline-block; }
  .product-content-middle {
    text-align: center; }
  .product-content-middle img {
    width: 60%; } }

@media screen and (max-width: 480px) {
  .prod-black-button a {
    margin: -90px 140px; }
  .prod-menu-left1 {
    -webkit-background-size: 8% 8%;
            background-size: 8%;
    height: 42px; } }

@media screen and (max-width: 320px) {
  .prod-left1 {
    height: 37px; }
  .prod-black-button a {
    margin: -60px 108px;
    width: 85px;
    height: 28px;
    font-size: 12px;
    line-height: 29px; } }

.client {
  background-image: url(../img/client-main.png);
  height: 652px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }

.client-opacity {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%; }

.client-title {
  padding-top: 105px;
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px; }

.client-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #a4a4a4;
  padding-bottom: 100px; }

.client-content {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.client-content-left {
  float: left;
  width: 50%; }

.client-content-left-title {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }

.client-content-left-text {
  padding-top: 50px;
  color: #a4a4a4;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  text-align: center; }

.client-content-right {
  float: left;
  width: 50%; }

.client-content-right-bloks {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content-blok1 {
  float: left;
  width: 50%;
  padding-bottom: 39px; }

.client-slider {
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto; }

.slick-list {
  text-align: center; }

.client-slider-img1 {
  text-align: center; }

.client-slider-name {
  color: #ff0036;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

.slick-dots button {
  font-size: 0;
  border: none;
  background-color: #e0e0e0;
  width: 8px;
  height: 8px;
  display: inline; }

.slick-dots li {
  display: inline;
  position: relative;
  margin-right: 5px; }

.slick-dots {
  text-align: center; }

.slick-active button {
  background-color: #ff0036; }

.slick-slide img {
  padding-bottom: 17px;
  display: inline;
  text-align: center; }

.client-scroll {
  position: absolute;
  left: -webkit-calc(50% - 258px);
  left: calc(50% - 258px);
  bottom: -13px;
  text-align: center; }

.client-scroll img {
  max-width: 100%; }

@media screen and (max-width: 1100px) {
  .content-blok1 img {
    width: 95%; } }

@media screen and (max-width: 992px) {
  .client-title {
    padding-top: 80px;
    font-size: 26px; }
  .client-text {
    padding-top: 45px;
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .client-title {
    padding-top: 50px;
    font-size: 20px; }
  .client-text {
    padding-top: 45px;
    font-size: 12px;
    padding-bottom: 55px; }
  .client-slider {
    padding-top: 25px; }
  .client-content-left-title {
    font-size: 16px; }
  .client-content-left-text {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px; }
  .content-blok1 {
    padding-bottom: 25px; }
  .content-blok1 img {
    width: 90%; }
  .client-scroll img {
    max-width: 80%; } }

.teamwork {
  background-color: #fff; }

.team-title {
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px; }

.team-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #505050;
  padding-bottom: 100px; }

.team-workers {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 100px;
  color: #262626; }
  .team-workers:hover {
    color: #ff0036; }

.team-woker1 {
  float: left;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin: 0 15px;
  color: #262626; }
  .team-woker1:hover {
    border: 1px solid #262626;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.team-woker1-photo img {
  width: 100%; }

.team-woker1-photo {
  position: relative; }

.team-woker1-photo-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  text-align: center; }

.team-woker1-photo-hover:hover {
  opacity: 1; }

.team-woker1-name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #262626;
  text-align: center;
  padding-top: 35px; }
  .team-woker1-name:hover {
    color: #ff0036; }

.team-woker1-who {
  padding-top: 25px;
  text-align: center;
  font-size: 16px; }

.team-hover-icons-img {
  display: inline-block;
  top: -webkit-calc(50% - 21px);
  top: calc(50% - 21px);
  position: relative; }

.team-hover-icons-img img {
  width: 45px;
  padding-right: 10px; }

.team-scrollbar {
  padding-top: 100px;
  text-align: center; }

.team-scrollbar img {
  width: 515px; }

.skills {
  padding-bottom: 100px; }

.skills-title {
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px; }

.skills-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #505050;
  padding-bottom: 100px; }

.skills-info {
  display: block;
  text-align: center; }

.skills-info-block {
  margin-right: 50px;
  display: inline-block; }

.skills-info-block-title {
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #262626; }

.skills-info-block-text {
  padding-top: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #505050;
  font-weight: normal; }

@media screen and (max-width: 992px) {
  .team-title {
    padding-top: 80px;
    font-size: 26px; }
  .team-text {
    padding-top: 45px;
    font-size: 16px;
    padding-bottom: 80px; }
  .team-scrollbar {
    padding-top: 60px; }
  .skills-title {
    padding-top: 80px; }
  .skills-text {
    padding-bottom: 80px; } }

@media screen and (max-width: 768px) {
  .team-title {
    padding-top: 60px;
    font-size: 20px; }
  .team-text {
    padding-top: 45px;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 60px; }
  .team-workers {
    padding-bottom: 60px; }
  .skills-title {
    padding-top: 60px;
    font-size: 20px; }
  .skills-info {
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .skills-info-block {
    float: left;
    width: 50%;
    margin-right: 0;
    padding-bottom: 20px; } }

.services {
  background-color: #272727; }

.services-title {
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff; }

.services-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #505050;
  padding-bottom: 100px; }

.services-block {
  overflow: hidden; }

.services-block-part {
  float: left;
  width: 50%;
  padding-bottom: 60px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .services-block-part .services-block-part-logo {
    background-image: url(../img/servis-icon-1.png);
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 106px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
  .services-block-part:hover .services-block-part-logo {
    background-image: url(../img/servis-icon-hov-1.png); }
  .services-block-part .services-block-part-logo2 {
    background-image: url(../img/servis-icon-2.png);
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 106px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
  .services-block-part:hover .services-block-part-logo2 {
    background-image: url(../img/servis-icon-hov-2.png); }
  .services-block-part .services-block-part-logo3 {
    background-image: url(../img/servis-icon-3.png);
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 106px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
  .services-block-part:hover .services-block-part-logo3 {
    background-image: url(../img/servis-icon-hov-3.png); }
  .services-block-part .services-block-part-logo4 {
    background-image: url(../img/servis-icon-4.png);
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 106px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
  .services-block-part:hover .services-block-part-logo4 {
    background-image: url(../img/servis-icon-hov-4.png); }
  .services-block-part .services-block-part-logo5 {
    background-image: url(../img/servis-icon-5.png);
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 106px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
  .services-block-part:hover .services-block-part-logo5 {
    background-image: url(../img/servis-icon-hov-5.png); }
  .services-block-part .services-block-part-logo6 {
    background-image: url(../img/servis-icon-6.png);
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 106px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; }
  .services-block-part:hover .services-block-part-logo6 {
    background-image: url(../img/servis-icon-hov-6.png); }
  .services-block-part .services-block-part-text {
    padding-top: 30px;
    color: #a4a4a4;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 35px;
    background-color: #343434;
    margin-top: 30px; }
  .services-block-part:hover .services-block-part-text {
    background-color: #3d2329; }

.services-scrollbar {
  position: relative;
  bottom: -10px;
  text-align: center; }

.services-scrollbar img {
  width: 515px; }

.plans {
  background-color: #fff; }

.plans-title {
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px; }

.plans-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: #505050;
  padding-bottom: 100px; }

.plans-main {
  overflow: hidden;
  padding-bottom: 100px; }

.plans-main-box {
  float: left;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin: 0 15px; }
  .plans-main-box .plans-main-box-price {
    height: 85px;
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .plans-main-box:hover .plans-main-box-price {
    background-color: #ff0036;
    color: #fff; }
  .plans-main-box .plans-main-box-button {
    width: 228px;
    height: 38px;
    line-height: 38px;
    background-color: #262626;
    text-align: center;
    display: inline-block; }
  .plans-main-box:hover .plans-main-box-button {
    background-color: #ff0036; }

.plans-main-box-title {
  background-color: #262626;
  height: 48px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*display: table-cell*/ }

.years {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

.plans-main-box-info {
  height: 50px;
  border: 1px solid #f2f2f2;
  border-top: none;
  font-size: 16px;
  color: #262626;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.plans-main-box-info-last {
  height: 80px;
  border: 1px solid #f2f2f2;
  border-top: none;
  color: #262626;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.plans-main-box-button a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-decoration: none; }

.twitter {
  background-image: url(../img/twit-bg.png);
  height: 294px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

.twit-content {
  display: block;
  text-align: center;
  top: -webkit-calc(50% - 35px);
  top: calc(50% - 35px);
  position: relative; }

.twitt-img {
  padding-bottom: 30px; }

.twitt-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff; }

.twit-scroll {
  position: absolute;
  bottom: -11px;
  text-align: center;
  left: -webkit-calc(50% - 258px);
  left: calc(50% - 258px); }

.twit-scroll img {
  width: 515px; }

.blog-title {
  padding-top: 105px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center; }

.blog-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center; }

.blog-content {
  padding-top: 100px; }

.blog-content-part1 {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px; }

.blog-content-part1-left {
  float: left;
  width: 42.7350%;
  position: relative; }

.blog-content-part1-left img {
  width: 100%;
  padding-left: 90px; }

.blog-img-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center; }

.blog-img-hover:hover {
  opacity: 1; }

.blog-content-part1-right {
  float: left;
  width: 57.2650%;
  padding-right: 100px;
  padding-left: 30px; }

.blog-content-part1-right-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #2e2e2e; }

.blog-content-part1-right-soc {
  display: inline; }

.blog-content-part1-right-soc img {
  padding-top: 20px;
  padding-right: 20px; }

.blog-content-part1-right-text {
  padding-top: 11px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  color: #505050;
  font-size: 16px;
  line-height: 21px; }

.blog-content-part1-bott {
  margin-top: 24px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #262626; }
  .blog-content-part1-bott:hover {
    background-color: #ff0036; }

.blog-content-part1-bott a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

.blog-arrow {
  padding-top: 40px;
  padding-bottom: 85px;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapp {
  margin: 0 auto;
  max-width: 1170px; }

.slide {
  position: relative; }

.slider-img1 {
  background: url(../img/main-photo.jpg);
  background-position: center;
  max-width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.head-main-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block; }

.head-main-top {
  background-color: rgba(0, 0, 0, 0.5);
  height: 67px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  border-top: 3px solid #7f7f7f; }

.head-main-top {
  z-index: 999; }

.slick-next {
  background: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  border: none;
  width: 17px;
  height: 28px;
  outline: none;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  position: absolute;
  right: 30px;
  top: -webkit-calc(50% - 28px);
  top: calc(50% - 28px);
  padding: 0; }
  .slick-next:hover {
    background: url(../img/arrow-right-hover.png); }

.slick-prev {
  background: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  border: none;
  width: 17px;
  height: 28px;
  outline: none;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 30px;
  top: -webkit-calc(50% - 28px);
  top: calc(50% - 28px);
  padding: 0;
  z-index: 1; }
  .slick-prev:hover {
    background: url(../img/arrow-left-hover.png); }

@media screen and (max-width: 992px) {
  .slick-next {
    -webkit-background-size: 80% 80%;
            background-size: 80%; }
    .slick-next:hover {
      -webkit-background-size: 80% 80%;
              background-size: 80%;
      background-repeat: no-repeat; }
  .slick-prev {
    -webkit-background-size: 80% 80%;
            background-size: 80%; }
    .slick-prev:hover {
      -webkit-background-size: 80% 80%;
              background-size: 80%;
      background-repeat: no-repeat; }
  .head-main-top {
    height: 57px;
    width: 100%;
    border-top: 3px solid #7f7f7f;
    position: fixed; } }

@media screen and (max-width: 768px) {
  .head-main-top {
    height: 45px;
    width: 100%;
    border-top: 3px solid #7f7f7f; }
  .slick-next {
    -webkit-background-size: 70% 70%;
            background-size: 70%; }
    .slick-next:hover {
      -webkit-background-size: 70% 70%;
              background-size: 70%;
      background-repeat: no-repeat; }
  .slick-prev {
    -webkit-background-size: 70% 70%;
            background-size: 70%;
    background-repeat: no-repeat; }
    .slick-prev:hover {
      -webkit-background-size: 70% 70%;
              background-size: 70%;
      background-repeat: no-repeat; } }

@media screen and (max-width: 480px) {
  .head-main-top {
    height: 40px;
    position: fixed; }
  .slick-next {
    -webkit-background-size: 50% 50%;
            background-size: 50%; }
    .slick-next:hover {
      -webkit-background-size: 50% 50%;
              background-size: 50%;
      background-repeat: no-repeat; }
  .slick-prev {
    -webkit-background-size: 50% 50%;
            background-size: 50%;
    background-repeat: no-repeat; }
    .slick-prev:hover {
      -webkit-background-size: 50% 50%;
              background-size: 50%;
      background-repeat: no-repeat; } }

@media screen and (max-width: 320px) {
  .head-main-top {
    height: 35px;
    position: fixed; } }
